{% extends "base.html" %}

{% block titulo %}Catálogo - Tienda Virtual{% endblock %}

{% block contenido %}

<div class="filtros">
    <a href="{{ url_for('main.index') }}"
       class="chip {% if not categoria_id %}chip-activo{% endif %}">Todas</a>

    {% for categoria in categorias %}
        <a href="{{ url_for('main.index', categoria=categoria.id) }}"
           class="chip {% if categoria_id == categoria.id %}chip-activo{% endif %}">
            {{ categoria.nombre }}
        </a>
    {% endfor %}
</div>

<div class="catalogo">
    {% for producto in productos %}
        <div class="tarjeta-producto">
            <img src="{{ url_for('static', filename=producto.foto) }}" alt="{{ producto.nombre }}">
            <h3>{{ producto.nombre }}</h3>
            <p>{{ producto.marca }}</p>
            <p>{{ producto.categoria.nombre }}</p>
            <p>${{ "{:,.0f}".format(producto.precio) }}</p>

            {% if producto.disponible > 0 %}
                <p>Disponible</p>
            {% else %}
                <p>Agotado</p>
            {% endif %}

            <a href="{{ url_for('main.detalle', sku=producto.sku) }}">Ver detalle</a>
        </div>
    

    {# TODO 5: Cierra el ciclo con {% endfor %} #}

    {# TODO 6 (opcional): usa {% else %} dentro del for para mostrar un
       mensaje si 'productos' llega vacía. #}

</div>
{% endblock %}
